body {
    background-color: rgb(31, 31, 31);
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

a {
    color: white;
    text-decoration: none;
}
/*Comentário*/

